@import "tailwindcss";

:root {
  --color-citual-green: #588368;
  --color-citual-orange: #F25A29;
  --color-background-light: #ffffff;
  --color-background-dark: #101622;
  --color-card-dark: #1A2230;
  --color-input-dark: #232e42;
  --color-border-dark: #324467;

  --background: var(--color-background-light);
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: var(--color-background-dark);
    --foreground: #ffffff;
  }
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-primary: var(--color-citual-green);
  --color-secondary: var(--color-citual-orange);

  --color-bg-light: var(--color-background-light);
  --color-bg-dark: var(--color-background-dark);
  --color-card-dark: var(--color-card-dark);
  --color-input-dark: var(--color-input-dark);
  --color-border-dark: var(--color-border-dark);

  --font-display: "Inter", sans-serif;
  --font-body: "Noto Sans", sans-serif;

  --animate-blob: blob 7s infinite;

  @keyframes blob {
    0% {
      transform: translate(0px, 0px) scale(1);
    }

    33% {
      transform: translate(30px, -50px) scale(1.1);
    }

    66% {
      transform: translate(-20px, 20px) scale(0.9);
    }

    100% {
      transform: translate(0px, 0px) scale(1);
    }
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-display);
}

.animation-delay-2000 {
  animation-delay: 2s;
}

.animation-delay-4000 {
  animation-delay: 4s;
}